<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azureonthefly.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7a1adf12-99de-430b-893f-123d27d44a70/resourcegroups/NovidadesERP20221006115124ResourceGroup/providers/Microsoft.Web/sites/AzureOnTheFly</ResourceId>
    <UserName>$AzureOnTheFly</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azureonthefly.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>